/sacstation1.csv
/sacstations.csv
.DS_Store
/Sac data
/CV_rows.csv
/fog_rows.csv
/CV_rows_cleaned.csv
/fog_rows_cleaned.csv
/CV_rows_cleaned1.csv
/fog_rows_cleaned1.csv
/CV_rows_wind_cleaned.csv
/CV_rows_nanvistozero.csv
/CV_rows_w_zerovis.csv
/CV_rows_temp_incl.csv
/CV_rows_codes_incl.csv
/CV_rows_codes.csv
/CV_rows_codes_filtered.csv
/CV_rows_codes_1.csv
/CV_rows_all_rows_codes_incl.csv
/CV_all_rows_codes_incl_no_mods.csv
/CV_all_rows_codes_incl_temp_incl.csv